.cart {
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  color: var(--color-gray-1);
  display: block;
  height: 100vh;
  overflow-y: scroll;
  padding: 4rem 1.5rem 6rem;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  transform: translate3d(100%, 0, 0);
  transition: transform 200ms ease-out;
  width: 100vw;
  max-width: 400px;
  z-index: 100;
}

.heading {
  color: var(--color-pink-accessible);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1.75rem;
  margin: 0;
  text-align: left;
}

.empty {
  text-align: center;
}

.items {
  list-style: none;
  padding: 0;
}

.taxes-and-shipping span {
  grid-column: span 2;
}

.item {
  align-items: top;
  border-bottom: 1px solid var(--color-gray-5);
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 35px 1fr 70px 20px;
  padding: 1.5rem 0.25rem;
  text-align: left;
}

.item:first-of-type {
  border-top: 0;
}

.item img {
  display: block;
  width: 100%;
}

.name {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.priceline {
  color: var(--color-gray-2);
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0.25rem 0 0;
}

.subtotal {
  font-size: 0.875rem;
  margin: 0;
  text-align: right;
}

.wrap {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.remove {
  border: 0;
  background: transparent;
  color: var(--color-teal-dark);
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1;
  opacity: 1;
  transition: opacity 200ms linear;
}

.remove:hover {
  color: var(--color-black);
}

.totals {
  list-style: none;
  margin: 0;
  padding: 0 30px 0 0;
}

.totals li {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 100px;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

.total span {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding-top: 0.25rem;
}

.checkout {
  background: var(--color-teal-dark);
  border: 2px solid var(--color-teal-dark);
  border-radius: var(--border-radius);
  color: var(--color-white);
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 20px 0 0;
  padding: 0.5rem;
  text-decoration: none;
}

.checkout:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
}

.toggle {
  background: var(--color-white);
  border: 4px solid transparent;
  color: var(--color-teal-dark);
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(14, 30, 37, 0.24);
  font-size: 1rem;
  font-weight: 700;
  position: fixed;
  padding: 36px 1rem 16px;
  right: 2rem;
  top: -20px;
  z-index: 1000;
}

.toggle:hover {
  cursor: pointer;
  border-color: var(--color-yellow-dark);
}

.icon {
  margin-right: 0.25rem;
}
