.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  width: 1100px;
}

.heading {
  color: var(--color-white);
  font-family: var(--font-display);
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
