.container {
  --top-fade: linear-gradient(
    to bottom,
    var(--color-pink-dark) calc(100% - 1600px),
    #0e1e2500 calc(100% - 900px)
  );
  --fade-to-black-gradient: linear-gradient(
    to bottom,
    #0e1e2500 calc(100% - 600px),
    #0e1e25bf calc(100% - 300px),
    #0e1e25ff
  );
  --radial-gradient: repeating-radial-gradient(
    circle at center calc(100% - 700px),
    var(--color-pink-accessible) 0 20px,
    var(--color-pink-dark) 82px,
    var(--color-pink) 90px,
    transparent 90px
  );

  background: var(--top-fade), var(--fade-to-black-gradient),
    var(--radial-gradient);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 20px 0 0;
}
