.heading {
  color: var(--color-black);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 2.5em;
  margin: 0.5em 0 0.2em 0;
  line-height: 1.1;
}

.details {
  background: var(--color-white);
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  margin: 5em auto 50px auto;
  max-width: 1100px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  width: 90vw;
}

.description {
  font-weight: 700;
  color: var(--color-gray-1);
  font-size: 1.15em;
}

.price {
  color: var(--color-gray-2);
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 2em 0;
}

.form {
  --gutter: 0.5em;
  margin: 0 calc(-1 * var(--gutter));
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.form > * {
  margin: var(--gutter)
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row label {
  margin-bottom: 0.4em;
}

.select {
  background: var(--color-white);
  border: 2px solid var(--color-gray-5);
  border-radius: var(--border-radius);
  font-size: 1rem;
  padding: 0.5rem;
  appearance: none;
}

.quantity {
  border: 2px solid var(--color-gray-5);
  border-radius: var(--border-radius);
  font-size: 1rem;
  padding: 0.5rem;
  width: 6em;
}

.button {
  background: var(--color-teal-dark);
  border: 2px solid var(--color-teal-dark);
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1em;
  transition: background 200ms, border 200ms;
}

.button:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
}

.out-of-stock {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  color: var(--color-gray-3);
  border: 2px solid var(--color-gray-4);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1em;
}

.price-on-sale {
  margin: 0 0.5em;
}

.shipping-and-returns-policy {
  color: var(--color-teal-dark);
  display: inline-block;
  margin-top: 1em;
  font-size: 0.85em;
}

.shipping-and-returns-policy:hover {
  text-decoration: none;
}

.icon {
  margin-right: 0.25rem;
}

.product-details-product-type {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 99;
}
.product-details-content-container {
  flex: 1 1 20em;
  padding-right: 3em;
}
.product-details-image-container {
  position: relative;
  flex-basis: 25em;
}

@media (max-width: 51.625rem) /* < 700px */ {
  .heading {
    font-size: 1.9em;
    margin-top: 1em;
  }
  .product-details-content-container {
    padding-right: 0;
  }
  .product-details-image-container {
    flex-grow: 1;
    order: -1;
  }
}

.metafields {
  font-size: 0.8em;
  color: var(--color-gray-2);
  margin-bottom: 1.5em;
}

.metafields dl {
  padding-left: 1.1em;
}

.metafields dt {
  font-weight: 700;
  margin-bottom: 0.2em;
}

.metafields dd {
  margin-left: 1.1em;
  margin-bottom: 0.5em;
}