.label {
  background: var(--color-black);
  border-radius: 2px;
  color: var(--color-white);
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0.25rem;
  text-transform: capitalize;
}

.label[data-type='Housewares'] {
  background: #135B8B;
}

.label[data-type='Accessories'] {
  background: #AF0D3B;
}

.label[data-type='Apparel'] {
  background: #0F615C;
}

.label[data-type='Stickers'] {
  background: #7C0C64;
}



