.cardContainer {
  position: relative;
}

.new {
  position: absolute;
  top: -1em;
  left: -1em;
  pointer-events: none;
  z-index: 4;
}

@media (max-width: 37.5rem) {
  .new {
    left: 0.5em;
  }
}

.card {
  --padding: 1em;
  position: relative;
  background: var(--color-white);
  border: 5px solid var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  padding: var(--padding);
  height: 100%;
}

.card::before {
  position: absolute;
  top: 0;
  left: -75%;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  z-index: 2;
}

.cardContainer:hover .card::before {
  animation: shine 0.75s;
}

.image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: calc(100% + (2 * var(--padding)));
  margin-left: calc(-1 * var(--padding));
  margin-right: calc(-1 * var(--padding));
  margin-top: calc(-1 * var(--padding));
}

.heading {
  color: var(--color-gray-1);
  font-size: 1.5rem;
  margin: 0.7em 0 0.7em 0;
}

.heading a {
  color: inherit;
  text-decoration: none;
}

.description {
  margin: 0 0 3.75em 0;
  font-weight: 700;
}

.buttons {
  --gutter: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
  margin-bottom: calc(-1 * var(--gutter));
}

.buttons > * {
  margin: var(--gutter);
}

.details {
  color: var(--color-teal-dark);
  text-align: right;
  text-decoration: none;
  font-weight: 700;
}

.button {
  background: var(--color-gray-5);
  border-color: transparent;
  border-radius: var(--border-radius);
  color: var(--color-black);
  font-family: var(--font-sans-serif);
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  padding: 6px 0.5rem;
  width: auto;
  transition: background 100ms linear;
  z-index: 3;
}

.button:hover {
  background-color: var(--color-gray-4);
}

.out-of-stock {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  color: var(--color-gray-3);
  border: 2px solid var(--color-gray-4);
  font-size: 1rem;
  font-weight: 700;
  padding: 6px 0.5rem;
}

.tooltip {
  background: var(--color-teal);
  bottom: 50%;
  border-radius: var(--border-radius);
  color: var(--color-white);
  display: block;
  font-size: 1rem;
  opacity: 0;
  padding: 0.25rem;
  position: absolute;
  right: 0;
  visibility: hidden;
}

.visible .tooltip {
  animation: tip 1s ease-out;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.card-link:focus {
  box-shadow: inset 0px 0px 0 3px salmon;
}

@keyframes tip {
  0% {
    opacity: 0;
    bottom: 50%;
  }

  80% {
    opacity: 1;
  }

  100% {
    bottom: 120%;
    opacity: 0;
  }
}

.label {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
